*{
    margin: 0;
    padding: 0;
      box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}
svg path{
    fill: #876459;
    stroke: #eee;
    stroke-width: .3;
}
svg path:hover{
    fill:aqua;
    transition: .5s;
    cursor: pointer;
}
.mapArea{
     width: 90vw;
     height: 90vh;
     display: flex;
     justify-content: center;
     align-items: center;
     max-width: 80rem; 
     margin: 0 auto;
     padding: 2rem;
}

/* BUTTONS */
#startBtn {
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 0.1rem solid #56a5eb;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #56a5eb;
  background-color: white;
}

#startBtn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

#startBtn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}