.info{
  max-width: 40rem;
} 
.mapArea {
  width: 90%;
  max-width: 900px;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
}

.container {
  min-height: 100vh;
  justify-content: flex-start; /* push info + map from top */
  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow-x: hidden; /* remove horizontal scroll */
}

#question {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

#score {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

svg path{
    fill: #876459;
    stroke: #eee;
    stroke-width: .3;
}
svg path:not(.correct):not(.wrong):hover{
    fill:aqua;
    transition: .5s;
    cursor: pointer;
    filter: drop-shadow(0 0 5px #00ffff);
}

svg path.correct, svg path.wrong{
  pointer-events: none;
}
.correct{
  fill:green;
}
.wrong{
  fill: red;
}