.container{
  gap: 2.5rem;
  padding-top: 3rem;
}
.info{
  max-width: 40rem;
}
.mapArea{
  height: auto;
  width: 100vw;
  max-width: 1200px;
}
#question {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

#score {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

svg path{
    fill: #876459;
    stroke: #eee;
    stroke-width: .3;
}
svg path:not(.correct):not(.wrong):hover{
    fill:aqua;
    transition: .5s;
    cursor: pointer;
}

.correct{
  fill:green;
}
.wrong{
  fill: red;
}